<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="300px" src="https://static.lyfboat.com/lyfboat/uploads/doctors/1463-profile-dr-ashish-sabharwal.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr. Ashish Sabharwal</h5>
                          <a href="#" class="btn btn-primary">Department</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="300px" src="https://static.lyfboat.com/lyfboat/uploads/doctors/1435-profile-doctor-profile-surbhi.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr. Surbhi Anand</h5>
                          <a href="#" class="btn btn-primary">Department</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="300px" src="https://static.lyfboat.com/lyfboat/uploads/doctors/1432-profile-sanjay-sachdeva-ent.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr. Sanjay Sachdeva</h5>
                          <a href="#" class="btn btn-primary">Department</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="300px" src="https://static.lyfboat.com/lyfboat/uploads/doctors/703-profile-gagan-gautam-profile.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr. Gagan Gautam</h5>
                          <a href="#" class="btn btn-primary">Department</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="300px" src="https://static.lyfboat.com/lyfboat/uploads/doctors/1445-profile-dr-aditya-gupta.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr. Aditya Gupta</h5>
                          <a href="#" class="btn btn-primary">Department</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="300px" src="https://static.lyfboat.com/lyfboat/uploads/doctors/1456-profile-dr-dandeep-batra.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr. Sandeep Batra</h5>
                          <a href="#" class="btn btn-primary">Department</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="300px" src="https://static.lyfboat.com/lyfboat/uploads/doctors/305-profile-bipin_s_walia.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr. Bipin S Walia</h5>
                          <a href="#" class="btn btn-primary">Department</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="300px" src="https://static.lyfboat.com/lyfboat/uploads/doctors/1436-profile-1436-profile-dr-sks-marya.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr. SKS Marya</h5>
                          <a href="#" class="btn btn-primary">Department</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="300px" src="https://static.lyfboat.com/lyfboat/uploads/doctors/1441-profile-dr-gaurav-kharya.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr. Gaurav Kharya</h5>
                          <a href="#" class="btn btn-primary">Department</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="300px" src="https://static.lyfboat.com/lyfboat/uploads/doctors/1457-profile-dr-ankur-bahl.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr. Ankur Bahl</h5>
                          <a href="#" class="btn btn-primary">Department</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>